remoteDomo/domoticz/rein domoticz/nodeRed/display.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"7ae29ef.81638e","type":"comment","z":"f3b4d355.cc4b48","name":"Instructions","info":"In domoticz go to Hardware/create virtual device\\nlookup the IDX in the devices tab\\nIn this example a text device has been created with IDX 211.\\nThe example show how to send a message to Domoticz","x":172,"y":118,"wires":[]\},\{"id":"359b10ff.e48f28","type":"mqtt out","z":"f3b4d355.cc4b48","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"6cc9cedc.8ea398","x":577,"y":143,"wires":[]\},\{"id":"15c6ec8b.7b05fb","type":"inject","z":"f3b4d355.cc4b48","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":205,"y":164,"wires":[["63b7f58a.b384bc"]]\},\{"id":"63b7f58a.b384bc","type":"function","z":"f3b4d355.cc4b48","name":"Fill Message","func":"var dt = new Date();\\n\\nvar now = \{\\n\\t'month':\\tdt.getMonth() + 1,\\n\\t'day':\\t\\tdt.getDate(),\\n\\t'year':\\t\\tdt.getFullYear(),\\n\\t'hours':\\tdt.getHours(),\\n\\t'mins':\\t\\tdt.getMinutes(),\\n\\t'msecs':\\tdt.getMilliseconds()\\n\};\\nif (now.mins < 10) \{\\n    now.mins = \\"0\\" + now.mins\\n\}\\n\\nif (now.hours < 10) \{\\n    now.hours = \\"0\\" + now.hours\\n\}\\n\\nif (now.day < 10) \{\\n    now.day = \\"0\\" + now.day\\n\}\\n\\nif (now.month < 10) \{\\n    now.month = \\"0\\" + now.month\\n\}\\nmsg.payload = \{\};\\nmsg.payload = \\"2t00\\" + now.hours + now.mins + now.month + now.day + now.year;\\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":159,"wires":[["359b10ff.e48f28","132e1ca9.9fd623"]]\},\{"id":"132e1ca9.9fd623","type":"debug","z":"f3b4d355.cc4b48","name":"","active":true,"console":"false","complete":"payload","x":543,"y":206,"wires":[]\},\{"id":"6cc9cedc.8ea398","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}