remoteDomo/domoticz/rein domoticz/nodeRed/ip display.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"efb65def.395948","type":"exec","z":"fd28b86a.ebb3c","command":"ifconfig","addpay":false,"append":"","useSpawn":false,"timer":"","name":"ifconfig","x":317,"y":91,"wires":[["66abe1d4.d7fbb8"],[],[]]\},\{"id":"348ddede.e5e9ca","type":"inject","z":"fd28b86a.ebb3c","name":"get ip - eth0","topic":"ip","payload":"eth0","payloadType":"str","repeat":"3600","crontab":"","once":true,"x":153,"y":139.5,"wires":[["efb65def.395948"]]\},\{"id":"27006cff.bd99c4","type":"debug","z":"fd28b86a.ebb3c","name":"test out","active":true,"console":"false","complete":"payload","x":391,"y":269.5,"wires":[]\},\{"id":"66abe1d4.d7fbb8","type":"function","z":"fd28b86a.ebb3c","name":"Extract network config","func":"// Initialize variables\\nvar input, tokens, inet, bcast, mask;\\nvar outString = \\"2i\\";\\n\\n// Parse the entire string by spaces, and put each item into an array called tokens\\n\\ninput = msg.payload;\\ntokens = input.split(\\":\\", 10);\\n\\n// Get the 7th token (example: \\"addr:192.168.0.120\\")\\n// and get the substring from character 6 to the end\\ninet = tokens[7].split(\\" \\", 1);\\noutString += inet[0];\\n//outString += \\"\\\\n\\" + \\"inet addr: \\" + inet[0];\\n\\n// Get the 8th token (example: \\"Bcast:192.168.0.255\\")\\n// and get the substring from character 7 to the end\\n//bcast = tokens[8].split(\\" \\", 1);\\n//outString += \\"\\\\n\\" + \\"Bcast: \\" + bcast[0];\\n\\n// Get the 9th token (example: \\"Mask:255.255.255.0\\")\\n// and get the substring from character 6 to the end\\n//mask = tokens[9].split(\\" \\", 1);\\n//outString += \\"\\\\n\\" + \\"Mask: \\" + mask[0];\\n\\n// Don't send a message if the IF is the known default. Change to default ip.\\nif (inet==\\"192.168.0.120\\") \{ \\n//outString = \\"\\"; // set output to null if ip is the same so no message is sent\\nreturn null;\\n\}else\{\\n// return the final output\\nreturn \{payload: outString\};\\n\}\\n","outputs":1,"noerr":0,"x":561,"y":83,"wires":[["c0b3b34d.63492"]]\},\{"id":"c0b3b34d.63492","type":"delay","z":"fd28b86a.ebb3c","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":202,"y":276,"wires":[["27006cff.bd99c4","6cedd527.766f44"]]\},\{"id":"6cedd527.766f44","type":"mqtt out","z":"fd28b86a.ebb3c","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"8dd6c024.7f7a4","x":400.5,"y":313,"wires":[]\},\{"id":"8dd6c024.7f7a4","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}