remoteDomo/domoticz/rein domoticz/nodeRed/main.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"b14603f0.77a15","type":"switch","z":"ef8de6dc.20566","name":"Republish switch","property":"payload.idx","propertyType":"msg","rules":[\{"t":"eq","v":"16","vt":"str"\},\{"t":"eq","v":"17","vt":"str"\},\{"t":"eq","v":"18","vt":"str"\},\{"t":"eq","v":"19","vt":"str"\},\{"t":"eq","v":"20","vt":"str"\},\{"t":"eq","v":"21","vt":"str"\},\{"t":"eq","v":"22","vt":"str"\},\{"t":"eq","v":"23","vt":"str"\},\{"t":"eq","v":"24","vt":"str"\},\{"t":"eq","v":"25","vt":"str"\}],"checkall":"false","outputs":10,"x":191,"y":244,"wires":[["42d14ac9.42a654"],["111f768a.55b539"],["6acdba2e.9e00ec"],["c3744e96.7397f8"],["70d0f047.d86d68"],["dd971a79.d1e65"],["5fefbaf4.6fc68c"],["5a20c135.b00128"],["802af974.725cc8"],["1f15d195.6dc03e"]]\},\{"id":"d1820272.749268","type":"mqtt in","z":"ef8de6dc.20566","name":"","topic":"domoticz/out","qos":"2","broker":"e89751f3.4a3ad","x":115,"y":79,"wires":[["2963d949.8482d6","a5f4ccdc.eb981"]]\},\{"id":"2963d949.8482d6","type":"json","z":"ef8de6dc.20566","name":"","x":240,"y":127,"wires":[["b14603f0.77a15"]]\},\{"id":"f462bb7.ee24b48","type":"mqtt out","z":"ef8de6dc.20566","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"e89751f3.4a3ad","x":637,"y":164,"wires":[]\},\{"id":"42d14ac9.42a654","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r00\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":165,"wires":[["f462bb7.ee24b48"]]\},\{"id":"111f768a.55b539","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r10\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r19\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":214,"wires":[["f462bb7.ee24b48"]]\},\{"id":"6acdba2e.9e00ec","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r20\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r29\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":264,"wires":[["f462bb7.ee24b48"]]\},\{"id":"16567789.5c258","type":"comment","z":"ef8de6dc.20566","name":"Protocol","info":"Protocol:\\nunit/function/output/state\\n\\nunit 0-9\\nfunction:\\nr = relay\\nk = klikaan\\nt = time\\ni = ipadres\\noutput 0-9\\nstate:\\n0 off\\n9 on\\nin between is dim\\n\\n\\n\\nunit id:\\n0 tuinkamer\\n1 zolder\\n2 rein woonkamer","x":179.5,"y":327,"wires":[]\},\{"id":"c3744e96.7397f8","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r30\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r39\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":311,"wires":[["f462bb7.ee24b48"]]\},\{"id":"70d0f047.d86d68","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r40\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r49\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":358,"wires":[["f462bb7.ee24b48"]]\},\{"id":"f79cd5e4.8627b","type":"ping","z":"ef8de6dc.20566","name":"Node woonkamer","host":"192.168.100.180","timer":"600","x":145.5,"y":707,"wires":[["b042073b.c1a5d"]]\},\{"id":"9ef06744.a6c23","type":"debug","z":"ef8de6dc.20566","name":"","active":false,"console":"false","complete":"true","x":553.5,"y":668,"wires":[]\},\{"id":"b042073b.c1a5d","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 42;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 42;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":321,"y":707,"wires":[["9ef06744.a6c23","f731deb5.4cf6c"]]\},\{"id":"f731deb5.4cf6c","type":"mqtt out","z":"ef8de6dc.20566","name":"","topic":"domoticz/in","qos":"2","retain":"","broker":"e89751f3.4a3ad","x":574.5,"y":718,"wires":[]\},\{"id":"a5f4ccdc.eb981","type":"debug","z":"ef8de6dc.20566","name":"","active":false,"console":"false","complete":"false","x":379.5,"y":80,"wires":[]\},\{"id":"dd971a79.d1e65","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r50\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r59\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["f462bb7.ee24b48"]]\},\{"id":"5fefbaf4.6fc68c","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r60\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r69\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":446,"wires":[["f462bb7.ee24b48"]]\},\{"id":"5a20c135.b00128","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r70\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r79\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":492,"wires":[["f462bb7.ee24b48"]]\},\{"id":"802af974.725cc8","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r80\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r89\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":540,"wires":[["f462bb7.ee24b48"]]\},\{"id":"1f15d195.6dc03e","type":"function","z":"ef8de6dc.20566","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"2r90\\"\} \\nelse\\n\{\\n    msg.payload = \\"2r99\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":584,"wires":[["f462bb7.ee24b48"]]\},\{"id":"e89751f3.4a3ad","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}