remoteDomo/domoticz/danny domoticz/node.main.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"6f6f799f.806b28","type":"switch","z":"bbe2276e.678c18","name":"Republish switch","property":"payload.idx","propertyType":"msg","rules":[\{"t":"eq","v":"14","vt":"str"\},\{"t":"eq","v":"17","vt":"str"\},\{"t":"eq","v":"18","vt":"str"\},\{"t":"eq","v":"22","vt":"str"\},\{"t":"eq","v":"26","vt":"str"\},\{"t":"eq","v":"37","vt":"str"\},\{"t":"eq","v":"98","vt":"str"\},\{"t":"eq","v":"99","vt":"str"\},\{"t":"eq","v":"103","vt":"str"\},\{"t":"eq","v":"104","vt":"str"\},\{"t":"eq","v":"107","vt":"str"\},\{"t":"eq","v":"108","vt":"str"\},\{"t":"eq","v":"109","vt":"str"\}],"checkall":"false","outputs":13,"x":155,"y":228,"wires":[["dde23dec.04b1d"],["d930a033.3c46b8"],["cf7f6771.affb5"],["68926f99.c41328"],["25004952.4a77ee"],["c8324a89.4e37a"],["a082e6a.1138c18"],["670c85dc.4013a4"],["eabe8645.513f78"],["8147b517.0cd69"],["e87c4ab7.a2dca8"],["395b19c7.6e3ffe"],["8f8ca6bf.abfa4"]]\},\{"id":"814a7379.094fa","type":"mqtt in","z":"bbe2276e.678c18","name":"","topic":"domoticz/out","qos":"2","broker":"f0eef34a.9fdcb8","x":86,"y":62,"wires":[["754b9c72.0ed224","b12a0609.bedae"]]\},\{"id":"754b9c72.0ed224","type":"json","z":"bbe2276e.678c18","name":"","x":198,"y":110,"wires":[["6f6f799f.806b28"]]\},\{"id":"adb5d32.6b8933","type":"mqtt out","z":"bbe2276e.678c18","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"f0eef34a.9fdcb8","x":608,"y":147,"wires":[]\},\{"id":"dde23dec.04b1d","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r00\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":148,"wires":[["adb5d32.6b8933"]]\},\{"id":"d930a033.3c46b8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r10\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r19\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":197,"wires":[["adb5d32.6b8933"]]\},\{"id":"cf7f6771.affb5","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r20\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r29\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":247,"wires":[["adb5d32.6b8933"]]\},\{"id":"369ccb99.fbf1a4","type":"comment","z":"bbe2276e.678c18","name":"Protocol","info":"Protocol:\\nunit/function/output/state\\n\\nunit 0-9\\nfunction:\\nr = relay\\nk = klikaan\\nt = time\\ni = ipadres\\noutput 0-9\\nstate:\\n0 off\\n9 on\\nin between is dim","x":144.5,"y":378,"wires":[]\},\{"id":"68926f99.c41328","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r30\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r39\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":294,"wires":[["adb5d32.6b8933"]]\},\{"id":"25004952.4a77ee","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"1k00\\"\} \\nelse\\n\{\\n    msg.payload = \\"1k09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":341,"wires":[["adb5d32.6b8933"]]\},\{"id":"9e05fff3.f05b98","type":"ping","z":"bbe2276e.678c18","name":"Node tuinkamer","host":"192.168.100.200","timer":"600","x":154.5,"y":715,"wires":[["f553533d.a21998"]]\},\{"id":"98547753.9bf8d8","type":"debug","z":"bbe2276e.678c18","name":"","active":false,"console":"false","complete":"true","x":583.5,"y":679,"wires":[]\},\{"id":"f553533d.a21998","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 31;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 31;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":340,"y":715,"wires":[["2aced52c.fee54a"]]\},\{"id":"2aced52c.fee54a","type":"mqtt out","z":"bbe2276e.678c18","name":"","topic":"domoticz/in","qos":"2","retain":"","broker":"f0eef34a.9fdcb8","x":593.5,"y":726,"wires":[]\},\{"id":"b12a0609.bedae","type":"debug","z":"bbe2276e.678c18","name":"","active":false,"console":"false","complete":"false","x":350.5,"y":63,"wires":[]\},\{"id":"dae49c91.b7fef8","type":"ping","z":"bbe2276e.678c18","name":"Node zolder","host":"192.168.100.201","timer":"600","x":149,"y":755,"wires":[["7eb3d6e4.dd72f8"]]\},\{"id":"7eb3d6e4.dd72f8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 33;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 33;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":340,"y":755,"wires":[["2aced52c.fee54a"]]\},\{"id":"c8324a89.4e37a","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"1r00\\"\} \\nelse\\n\{\\n    msg.payload = \\"1r09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":383,"wires":[["adb5d32.6b8933"]]\},\{"id":"a082e6a.1138c18","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r00\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":424,"wires":[["adb5d32.6b8933"]]\},\{"id":"670c85dc.4013a4","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r10\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r19\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":464,"wires":[["adb5d32.6b8933"]]\},\{"id":"515ade7e.15d7c","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 100;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 100;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":340,"y":798,"wires":[["2aced52c.fee54a"]]\},\{"id":"ed9939ac.b5f638","type":"ping","z":"bbe2276e.678c18","name":"Node schuur","host":"192.168.100.204","timer":"600","x":149,"y":798,"wires":[["515ade7e.15d7c"]]\},\{"id":"eabe8645.513f78","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r20\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r29\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":502,"wires":[["adb5d32.6b8933"]]\},\{"id":"8147b517.0cd69","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r30\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r39\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":542,"wires":[["adb5d32.6b8933"]]\},\{"id":"e87c4ab7.a2dca8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r40\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r49\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":585,"wires":[["adb5d32.6b8933"]]\},\{"id":"395b19c7.6e3ffe","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r50\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r59\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":622,"wires":[["adb5d32.6b8933"]]\},\{"id":"8f8ca6bf.abfa4","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"4r60\\"\} \\nelse\\n\{\\n    msg.payload = \\"4r69\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":665,"wires":[["adb5d32.6b8933"]]\},\{"id":"d81d7e0e.b14688","type":"ping","z":"bbe2276e.678c18","name":"Telefoon danny","host":"192.168.100.64","timer":"300","x":161,"y":851,"wires":[["77b7bf08.7a09a"]]\},\{"id":"77b7bf08.7a09a","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 114;\\n    msg.payload.command = \\"switchlight\\";\\n    msg.payload.switchcmd= \\"On\\"\\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 114;\\n    msg.payload.command = \\"switchlight\\";\\n    msg.payload.switchcmd= \\"Off\\"\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":338,"y":852,"wires":[["2aced52c.fee54a","98547753.9bf8d8"]]\},\{"id":"273f1775.39328","type":"ping","z":"bbe2276e.678c18","name":"Telefoon inge","host":"192.168.100.34","timer":"300","x":150,"y":896,"wires":[["62d769bf.2aecb"]]\},\{"id":"62d769bf.2aecb","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 115;\\n    msg.payload.command = \\"switchlight\\";\\n    msg.payload.switchcmd= \\"On\\"\\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 115;\\n    msg.payload.command = \\"switchlight\\";\\n    msg.payload.switchcmd= \\"Off\\"\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":337,"y":897,"wires":[["2aced52c.fee54a"]]\},\{"id":"7463a404.0e150c","type":"ping","z":"bbe2276e.678c18","name":"Node woonkamer","host":"192.168.100.25","timer":"600","x":173,"y":951,"wires":[["920b1cde.479cd8"]]\},\{"id":"920b1cde.479cd8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 118;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 118;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":344,"y":951,"wires":[["2aced52c.fee54a"]]\},\{"id":"f0eef34a.9fdcb8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}