remoteDomo/domoticz/danny domoticz/node.time.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"1c334ac.3c9afb5","type":"comment","z":"2a04aac0.a38956","name":"Instructions","info":"In domoticz go to Hardware/create virtual device\\nlookup the IDX in the devices tab\\nIn this example a text device has been created with IDX 211.\\nThe example show how to send a message to Domoticz","x":155,"y":108,"wires":[]\},\{"id":"9675bb17.10fdf8","type":"mqtt out","z":"2a04aac0.a38956","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"f0eef34a.9fdcb8","x":560,"y":133,"wires":[]\},\{"id":"f3813044.a5fc78","type":"inject","z":"2a04aac0.a38956","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":188,"y":154,"wires":[["489010d2.8e5178"]]\},\{"id":"489010d2.8e5178","type":"function","z":"2a04aac0.a38956","name":"Fill Message","func":"var dt = new Date();\\n\\nvar now = \{\\n\\t'month':\\tdt.getMonth() + 1,\\n\\t'day':\\t\\tdt.getDate(),\\n\\t'year':\\t\\tdt.getFullYear(),\\n\\t'hours':\\tdt.getHours(),\\n\\t'mins':\\t\\tdt.getMinutes(),\\n\\t'msecs':\\tdt.getMilliseconds()\\n\};\\nif (now.mins < 10) \{\\n    now.mins = \\"0\\" + now.mins\\n\}\\n\\nif (now.hours < 10) \{\\n    now.hours = \\"0\\" + now.hours\\n\}\\n\\nif (now.day < 10) \{\\n    now.day = \\"0\\" + now.day\\n\}\\n\\nif (now.month < 10) \{\\n    now.month = \\"0\\" + now.month\\n\}\\nmsg.payload = \{\};\\nmsg.payload = \\"2t00\\" + now.hours + now.mins + now.month + now.day + now.year;\\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":149,"wires":[["9675bb17.10fdf8","962d5e.18541aa"]]\},\{"id":"962d5e.18541aa","type":"debug","z":"2a04aac0.a38956","name":"","active":true,"console":"false","complete":"payload","x":526,"y":196,"wires":[]\},\{"id":"f0eef34a.9fdcb8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}