remoteDomo/domoticz/danny domoticz/node.rpi.ip.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"f971ad52.79bf58","type":"exec","z":"3a8287ee.9dc42","command":"ifconfig","addpay":false,"append":"","useSpawn":false,"timer":"","name":"ifconfig","x":319,"y":58,"wires":[["6e948df2.60dbc4"],[],[]]\},\{"id":"3661d812.46b228","type":"inject","z":"3a8287ee.9dc42","name":"get ip - eth0","topic":"ip","payload":"eth0","payloadType":"str","repeat":"3600","crontab":"","once":true,"x":155,"y":106.5,"wires":[["f971ad52.79bf58"]]\},\{"id":"907a55ed.8ba0d8","type":"debug","z":"3a8287ee.9dc42","name":"test out","active":false,"console":"false","complete":"payload","x":393,"y":236.5,"wires":[]\},\{"id":"6e948df2.60dbc4","type":"function","z":"3a8287ee.9dc42","name":"Extract network config","func":"// Initialize variables\\nvar input, tokens, inet, bcast, mask;\\nvar outString = \\"2i\\";\\n\\n// Parse the entire string by spaces, and put each item into an array called tokens\\n\\ninput = msg.payload;\\ntokens = input.split(\\":\\", 10);\\n\\n// Get the 7th token (example: \\"addr:192.168.0.120\\")\\n// and get the substring from character 6 to the end\\ninet = tokens[7].split(\\" \\", 1);\\noutString += inet[0];\\n//outString += \\"\\\\n\\" + \\"inet addr: \\" + inet[0];\\n\\n// Get the 8th token (example: \\"Bcast:192.168.0.255\\")\\n// and get the substring from character 7 to the end\\n//bcast = tokens[8].split(\\" \\", 1);\\n//outString += \\"\\\\n\\" + \\"Bcast: \\" + bcast[0];\\n\\n// Get the 9th token (example: \\"Mask:255.255.255.0\\")\\n// and get the substring from character 6 to the end\\n//mask = tokens[9].split(\\" \\", 1);\\n//outString += \\"\\\\n\\" + \\"Mask: \\" + mask[0];\\n\\n// Don't send a message if the IF is the known default. Change to default ip.\\nif (inet==\\"192.168.0.120\\") \{ \\n//outString = \\"\\"; // set output to null if ip is the same so no message is sent\\nreturn null;\\n\}else\{\\n// return the final output\\nreturn \{payload: outString\};\\n\}\\n","outputs":1,"noerr":0,"x":563,"y":50,"wires":[["64a1d7d.6c160a8"]]\},\{"id":"64a1d7d.6c160a8","type":"delay","z":"3a8287ee.9dc42","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":204,"y":243,"wires":[["907a55ed.8ba0d8","e2b0a166.0bb45"]]\},\{"id":"e2b0a166.0bb45","type":"mqtt out","z":"3a8287ee.9dc42","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"f0eef34a.9fdcb8","x":402.5,"y":280,"wires":[]\},\{"id":"f0eef34a.9fdcb8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}