remoteDomo/domoticz/nodeRed import.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww16800\viewh11140\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"6f6f799f.806b28","type":"switch","z":"bbe2276e.678c18","name":"Republish switch","property":"payload.idx","propertyType":"msg","rules":[\{"t":"eq","v":"14","vt":"str"\},\{"t":"eq","v":"17","vt":"str"\},\{"t":"eq","v":"18","vt":"str"\},\{"t":"eq","v":"22","vt":"str"\},\{"t":"eq","v":"26","vt":"str"\}],"checkall":"false","outputs":5,"x":162,"y":227,"wires":[["dde23dec.04b1d"],["d930a033.3c46b8"],["cf7f6771.affb5"],["68926f99.c41328"],["25004952.4a77ee"]]\},\{"id":"814a7379.094fa","type":"mqtt in","z":"bbe2276e.678c18","name":"","topic":"domoticz/out","qos":"2","broker":"f0eef34a.9fdcb8","x":86,"y":62,"wires":[["754b9c72.0ed224","b12a0609.bedae"]]\},\{"id":"754b9c72.0ed224","type":"json","z":"bbe2276e.678c18","name":"","x":190,"y":139,"wires":[["6f6f799f.806b28"]]\},\{"id":"adb5d32.6b8933","type":"mqtt out","z":"bbe2276e.678c18","name":"","topic":"domoticz/arduino","qos":"","retain":"","broker":"f0eef34a.9fdcb8","x":608,"y":147,"wires":[]\},\{"id":"dde23dec.04b1d","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r00\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":148,"wires":[["adb5d32.6b8933"]]\},\{"id":"d930a033.3c46b8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r10\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r19\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":197,"wires":[["adb5d32.6b8933"]]\},\{"id":"cf7f6771.affb5","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r20\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r29\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":247,"wires":[["adb5d32.6b8933"]]\},\{"id":"369ccb99.fbf1a4","type":"comment","z":"bbe2276e.678c18","name":"Protocol","info":"Protocol:\\nunit/function/output/state\\n\\nunit 0-9\\nfunction:\\nr = relay\\nk = klikaan\\noutput 0-9\\nstate:\\n0 off\\n9 on\\nin between is dim","x":159.5,"y":291,"wires":[]\},\{"id":"68926f99.c41328","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"0r30\\"\} \\nelse\\n\{\\n    msg.payload = \\"0r39\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":294,"wires":[["adb5d32.6b8933"]]\},\{"id":"25004952.4a77ee","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"msg.topic = \\"domoticz/out/device/\\"+msg.payload.name;\\n\\nif (msg.payload.nvalue === 0) \{ \\n    msg.payload = \\"1k00\\"\} \\nelse\\n\{\\n    msg.payload = \\"1k09\\"\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":341,"wires":[["adb5d32.6b8933"]]\},\{"id":"9e05fff3.f05b98","type":"ping","z":"bbe2276e.678c18","name":"Node tuinkamer","host":"192.168.100.200","timer":"600","x":171.5,"y":508,"wires":[["f553533d.a21998"]]\},\{"id":"98547753.9bf8d8","type":"debug","z":"bbe2276e.678c18","name":"","active":true,"console":"false","complete":"true","x":589.5,"y":469,"wires":[]\},\{"id":"f553533d.a21998","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 31;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 31;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":357,"y":508,"wires":[["98547753.9bf8d8","2aced52c.fee54a"]]\},\{"id":"2aced52c.fee54a","type":"mqtt out","z":"bbe2276e.678c18","name":"","topic":"domoticz/in","qos":"2","retain":"","broker":"f0eef34a.9fdcb8","x":610.5,"y":519,"wires":[]\},\{"id":"b12a0609.bedae","type":"debug","z":"bbe2276e.678c18","name":"","active":false,"console":"false","complete":"false","x":350.5,"y":63,"wires":[]\},\{"id":"dae49c91.b7fef8","type":"ping","z":"bbe2276e.678c18","name":"Node zolder","host":"192.168.100.201","timer":"600","x":166,"y":548,"wires":[["7eb3d6e4.dd72f8"]]\},\{"id":"7eb3d6e4.dd72f8","type":"function","z":"bbe2276e.678c18","name":"Repub","func":"\\nif (msg.payload > 0) \{ \\n    msg.payload = \{\};\\n    msg.payload.idx = 33;\\n    msg.payload.svalue = \\"Node OK\\";\\n    \\n\} \\nelse\\n\{\\n    msg.payload = \{\};\\n    msg.payload.idx = 33;\\n    msg.payload.svalue = \\"Node NOK\\";\\n\}\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":357,"y":548,"wires":[["2aced52c.fee54a"]]\},\{"id":"f0eef34a.9fdcb8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\}]}